<p class="announcement-text">ICMFHT'19 is part of the 4<sup>th</sup> World Congress on Momentum, Heat and Mass Transfer (MHMT'19). 
<a class="body-link" target="_blank" href="https://www.mhmtcongress.com">Congress Website</a> | 
<a class="body-link" target="_blank" href="https://icmfht.com/MHMT19_CFP_Flyer.pdf">Congress Flyer</a>
</p>
<br>

<p class="announcement-text">
  <strong>Poster Board Dimensions:</strong><br>
  Authors presenting via poster boards are to be informed that poster boards are 110 cm height and 70 cm width.
</p>